
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by Shivam Sangwan<br>
        <i class="social-icon fab fa-facebook"></i>
        <i class="social-icon fab fa-twitter"></i>
        <i class="social-icon fab fa-instagram"></i>
        <i class="social-icon fas fa-envelope"></i>
    </p>
  
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script type="text/javascript">
  $(document).scroll(function(){
      $('.navbar').toggleClass('scrolled',$(this).scrollTop() > $('.navbar').height());
  });
</script>

</body>
</html>
